<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="app.css">
    <title>VuiJS</title>
</head>
<body>
<div class="container pt-5 mb-5" id="app">
    <div class="row  mb-3">
        <div class="col">
            <h1>База данных сертификатов</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label for="search">Поиск сертификата</label>
                <input
                        type="text"
                        class="form-control"
                        id="search"
                        placeholder="name, article ..."
                        v-model="search"
                >
            </div>
            <hr>
            <ul class="list-group">
                <li
                        v-for="(crt, i) in filteredCrts"
                        class="list-group-item list-group-item-action pointer"
                        @click="selectCrt(i)"
                        :class="{'active': selectedCrtIndex===i}"
                >
                    <strong>{{crt.article}}</strong> - {{crt.name}}
                </li>
            </ul>
        </div>
        <div class="col-md-8 pt-4">
            <div class="row">
                <div class="col-md-5">
                    <h3>{{crt.name}}</h3>
                    <img :src="crt.img" :alt="crt.name" class="rounded detailed-crt-img">
                </div>
                <div class="col-md-7 pt-2">
                    <h5>Сертификат</h5>
                    <ul>
                        <li>Артикул - <strong>{{crt.article}}</strong></li>
                        <li>Наименование - <strong>{{crt.name}}</strong></li>
                        <li>Нотификатция - <strong>{{crt.notification}}</strong></li>
                    </ul>
                    <div class="phone-block">
                        <transition name="phone">
                            <p v-if="phoneVisibility">{{crt.phone}}</p>
                        </transition>
                    </div>

                    <button
                            class="btn btn-outline-success mr-3"
                            @click="phoneVisibility=!phoneVisibility" v-text="phoneBtnText"></button>
                    <button @click="modalVisibility=true" class="btn btn-primary">ZIP</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row pt-3" v-if="logs.length !== 0">
        <div class="col-md-12">
            <ul class="list-group">
                <li
                        v-for="log in logs"
                        class="list-group-item"
                        :class="{
                        'list-group-item-secondary':log.type==='cnl',
                        'list-group-item-success':log.type==='ok'
                        }"
                >
                    {{log.text}} {{log.date | date}}
                </li>
            </ul>
        </div>
    </div>
    <transition name="modal">
        <div class="modal fade show" v-if="modalVisibility" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Вы хотите скачать архив ZIP?</h5>
                        <button type="button"
                                class="close"
                                data-dismiss="modal"
                                aria-label="Close"
                                @click="modalVisibility = false"
                        >
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p><strong>{{crt.name}}</strong></p>
                        <ul>
                            <li>Артикул - <strong>{{crt.article}}</strong></li>
                            <li>Наименование - <strong>{{crt.name}}</strong></li>
                            <li>Нотификатция - <strong>{{crt.notification}}</strong></li>
                        </ul>
                    </div>
                    <div class="modal-footer">

                        <button
                                type="button"
                                class="btn btn-secondary float-left"
                                data-dismiss="modal"
                                @click="downloadCancel"
                        >
                            Нет
                        </button>
                        <button
                                type="button"
                                class="btn btn-primary float-right"
                                @click="downloadZIP"
                        >
                            Да
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </transition>
    <transition name="fade">
        <div class="modal-backdrop fade show" v-if="modalVisibility"></div>
    </transition>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue@2.5.21/dist/vue.js"></script>
<script src="app.js"></script>
</body>
</html>